/* ==UserStyle==
@name           [YouTube] 2021 watch page layout
@namespace      github.com/openstyles/stylus
@version        1.5
@description    my take on recreating the 2021 watch page layout feel using css
@author         John Patrick Adem

@preprocessor stylus
@var checkbox hitchhikerStyledSentimentBar                "2017 style likes and dislikes bar (requires experiment flag changer userscript)" 0
@var checkbox sponsoredAdsHider                           "[experimental] hide sponsored ads" 0
@var checkbox merchShelfHider                             "[experimental] hide merch shelf" 0
@var checkbox rydColoredThumbsWatchPage                   "[work in progress] make the like and dislike icons colored when toggled in return youtube dislike" 0
==/UserStyle== */

@-moz-document regexp("^https:\\/\\/www\\.youtube\\.com.+") {
    if (sponsoredAdsHider) {
        ytd-rich-item-renderer:has(#content.ytd-rich-item-renderer > ytd-ad-slot-renderer) {
			display: none !important;
		}

		ytd-companion-slot-renderer {
			display: none;
		}
	}

	if (merchShelfHider) {
		ytd-merch-shelf-renderer {
			display: none;
		}
	}

	if (rydColoredThumbsWatchPage) {
		like-button-view-model > toggle-button-view-model > button-view-model > button > div > yt-icon > yt-animated-icon > ytd-lottie-player > lottie-component > svg > g > g > g > g > path,
		like-button-view-model > toggle-button-view-model > button-view-model > button > div > yt-icon,
		dislike-button-view-model > toggle-button-view-model > button-view-model > button > div > yt-icon {
			fill: currentcolor !important;
		}

	if (hitchhikerStyledSentimentBar) {
		ytd-sentiment-bar-renderer.ratio-bar-renderer-html > #container {
			background: var(--ytrb-bar-dislikes-color);
		}

		ytd-sentiment-bar-renderer.ratio-bar-renderer-html > #container > #like-bar {
			background: var(--ytrb-bar-likes-color);
		}
	}



	html[dark], [dark] {
		--yt-spec-base-background: rgb(24, 24, 24); /* the main background */

		ytd-masthead.shell.dark, ytd-masthead.shell.theater,
		#container.ytd-masthead, #guide-content.ytd-app, ytd-mini-guide-renderer, a.ytd-mini-guide-entry-renderer {
			background: rgb(32, 32, 32);
		}

		ytd-feed-filter-chip-bar-renderer[frosted-glass-mode=with-chipbar] #chips-wrapper.ytd-feed-filter-chip-bar-renderer {
			background: rgb(32, 32, 32);
		}

		#subscribe-button-shape > button {
			background: var(--yt-spec-incorrect-indicator);
			color: var(--yt-spec-text-primary);
		}

		yt-flexible-actions-view-model > div > yt-subscribe-button-view-model > yt-animated-action > div > div > button {
			background: var(--yt-spec-incorrect-indicator) !important;
			color: var(--yt-spec-text-primary) !important;
			border-radius: 2px;
			padding: 20px 16px;
		}

		yt-flexible-actions-view-model > div > button-view-model > button {
			border: 1px solid var(--yt-spec-themed-blue) !important;
			color: var(--yt-spec-themed-blue) !important;
			border-radius: 2px;
			padding: 20px 16px;
		}
	}

	html:not([dark]) {
		ytd-browse, ytd-app {
			background: var(--yt-spec-white-2);
		}

		#guide-inner-content.ytd-app, ytd-mini-guide-renderer {
			background: var(--yt-spec-white-1);
		}

		#subscribe-button-shape > button {
			background: var(--yt-brand-medium-red);
			color: var(--yt-spec-white-1);
		}
	}

	.ytSearchboxComponentInputBox,
	.ytSearchboxComponentSearchButton {
		border-radius: 2px 0 0 2px;
	}

	.yt-spec-button-shape-next--tonal {
		background: transparent !important;
	}

	html body[rounded-container] tp-yt-paper-tooltip .tp-yt-paper-tooltip[style-target=tooltip], .ytTooltipContainerDefaultTooltipContent {
		border-radius: 2px;
	}

	.ytChipShapeChip {
		border-radius: 40px;
		border: 1px solid var(--yt-spec-10-percent-layer);
		transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1);
	}

	.ytChipShapeChip.ytChipShapeInactive:hover {
		background: var(--yt-spec-10-percent-layer);
	}

	ytd-engagement-panel-section-list-renderer,
	ytd-modal-with-title-and-button-renderer[modern-modal][modern-modal][modern-modal],
	tp-yt-paper-dialog[modern] {
		border-radius: 0px !important;
	}


	/*
		home page
	*/
	#buttons.ytd-masthead > ytd-button-renderer > yt-button-shape > a,
	ytd-guide-signin-promo-renderer > ytd-button-renderer > yt-button-shape > a {
		border-color: var(--yt-spec-call-to-action) !important;
		color: var(--yt-spec-call-to-action) !important;
		padding: 18px 14px 20px 18px !important;
		border-radius: 2px !important;
		text-transform: uppercase !important;
	}

	ytd-multi-page-menu-renderer {
		border-radius: 0px;
	}

	.ytSearchboxComponentSuggestionsContainer, .ytSuggestionComponentRoundedSuggestion {
		border-radius: 0px;
	}

	.ytSuggestionComponentSuggestion {
		margin: -8px 0px;
	}

	ytd-rich-item-renderer[rendered-from-rich-grid] {
		width: 246px;
	}

	ytd-rich-item-renderer[is-responsive-grid] {
		width: 200px;
	}

	.ytThumbnailViewModelLarge, .shortsLockupViewModelHostThumbnailParentContainerRounded {
		border-radius: 0px;
	}

	ytd-rich-item-renderer[rendered-from-rich-grid][is-in-first-column] {
		margin-left: calc(var(--ytd-rich-grid-item-margin)/2);
		margin-right: calc(var(--ytd-rich-grid-item-margin)/2);
		margin-bottom: var(--ytd-rich-grid-row-margin);
	}

	ytd-guide-section-renderer.ytd-guide-renderer {
		padding: 12px 0px !important;
	}

	ytd-guide-entry-renderer {
		border-radius: 0px;
		margin-left: 0px;
	}

	#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer:hover,
	#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer:focus,
	#newness-dot.ytd-guide-entry-renderer {
		border-radius: 0px !important;
	}

	#chips-wrapper.ytd-feed-filter-chip-bar-renderer {
		border-bottom: 1px solid var(--yt-spec-10-percent-layer);
		border-top: 1px solid var(--yt-spec-10-percent-layer);
	}

	#left-arrow-button.ytd-feed-filter-chip-bar-renderer,
	#right-arrow-button.ytd-feed-filter-chip-bar-renderer {
		background: var(--yt-spec-brand-background-primary) !important;
	}

	#left-arrow.ytd-feed-filter-chip-bar-renderer::after {
		background: linear-gradient(to right,var(--yt-spec-brand-background-primary) 20%,rgba(255,255,255,0) 80%) !important;
	}

	#right-arrow.ytd-feed-filter-chip-bar-renderer::before {
		background: linear-gradient(to left,var(--yt-spec-brand-background-primary) 20%,rgba(255,255,255,0) 80%) !important;
	}

	.yt-lockup-metadata-view-model--standard .yt-lockup-metadata-view-model__title,
	.shortsLockupViewModelHostOutsideMetadataEndpoint {
		font-size: 1.4rem !important;
	}

	.yt-content-metadata-view-model--medium-text .yt-content-metadata-view-model__metadata-text {
		font-size: 12px !important;
	}

	.ytCollectionsStackCollectionStack2,
	.ytCollectionsStackCollectionStack1Large {
		border-radius: 0px;
	}



	/*
		watch page
	*/
	#sponsor-button > timed-animation-button-renderer > yt-smartimation > div > ytd-button-renderer > yt-button-shape > button,
	#subscribe-button > ytd-subscribe-button-renderer > yt-smartimation > div > yt-button-shape > button,
	#buttons > ytd-button-renderer > yt-button-shape > button {
		border-radius: 2px;
		padding: 20px 16px;
	}

	#sponsor-button > timed-animation-button-renderer > yt-smartimation > div > ytd-button-renderer > yt-button-shape > button {
		border: 1px solid var(--yt-spec-themed-blue);
		color: var(--yt-spec-themed-blue);
	}

	button > .yt-spec-button-shape-next__button-text-content {
		text-transform: uppercase;
	}

	.yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--segmented-start::after {
		background: transparent;
	}

	like-button-view-model > toggle-button-view-model > button-view-model > button,
	dislike-button-view-model > toggle-button-view-model > button-view-model > button,
	#top-level-buttons-computed > yt-button-view-model > button-view-model > button,
	ytd-download-button-renderer > ytd-button-renderer > yt-button-shape > button,
	#flexible-item-buttons > yt-button-view-model > button-view-model > button {
		padding-left: 12px !important;
	}

	dislike-button-view-model > toggle-button-view-model > button-view-model > button,
	ytd-download-button-renderer > ytd-button-renderer > yt-button-shape > button,
	#flexible-item-buttons > yt-button-view-model > button-view-model > button {
		padding-right: 6px !important;
	}

	like-button-view-model > toggle-button-view-model > button-view-model > button > yt-touch-feedback-shape,
	dislike-button-view-model > toggle-button-view-model > button-view-model > button > yt-touch-feedback-shape,
	#top-level-buttons-computed > yt-button-view-model > button-view-model > button > yt-touch-feedback-shape,
	ytd-download-button-renderer > ytd-button-renderer > yt-button-shape > button > yt-touch-feedback-shape,
	#flexible-item-buttons > yt-button-view-model > button-view-model > button > yt-touch-feedback-shape {
		width: 36px;
		border-radius: 20px !important;
	}

	yt-button-view-model.ytd-menu-renderer {
		margin-left: 12px !important;
	}

	ytd-rich-metadata-renderer[rounded],
	ytd-menu-popup-renderer,
	ytd-menu-service-item-renderer[use-list-item-styles] tp-yt-paper-item.ytd-menu-service-item-renderer {
		border-radius: 0px;
	}

	tp-yt-paper-item {
		padding: 0px 24px !important;
	}

	ytd-video-owner-renderer > .yt-simple-endpoint.ytd-video-owner-renderer > yt-img-shadow,
	ytd-video-owner-renderer > .yt-simple-endpoint.ytd-video-owner-renderer > yt-img-shadow > img {
		height: 48px !important;
		width: 48px !important;
	}

	ytd-watch-metadata[title-headline-xs] h1.ytd-watch-metadata,
	#title.ytd-watch-metadata > h1.ytd-watch-metadata > yt-formatted-string {
		font-weight: 400;
		font-size: 18px;
	}

	.ytp-settings-menu {
		border-radius: 4px;
	}

	#player.skeleton.flexy #player-api.round,
	ytd-watch-flexy[rounded-player] #ytd-player.ytd-watch-flexy, .ytThumbnailViewModelMedium {
		border-radius: 0px;
	}

	ytd-watch-metadata.ytd-watch-flexy {
		margin-top: 20px;
	}

	ytd-watch-metadata.ytd-watch-flexy {
		border-bottom: 1px solid var(--yt-spec-10-percent-layer);
		padding-bottom: 10px;
	}

	#owner.ytd-watch-metadata {
		max-width: unset !important;
		justify-content: space-between;
		margin-right: unset !important;
		width: unset !important;
	}

	ytd-video-owner-renderer {
		flex: 1;
		flex-basis: 0.000000001px;
	}

	#description.ytd-watch-metadata,
	#description.ytd-watch-metadata:hover
	ytd-rich-metadata-row-renderer {
		background: transparent !important;
		margin-left: 50px;
	}

	#description > yt-interaction > .stroke.yt-interaction,
	#description > yt-interaction > .fill.yt-interaction {
		background: transparent !important;
        border: 1px solid transparent !important;
	}

	#description.ytd-watch-metadata > #description-inner > ytd-watch-info-text {
		display: none;
	}

	ytd-watch-metadata[description-collapsed] #description.ytd-watch-metadata {
		cursor: unset;
	}

	ytd-watch-metadata[flex-menu-enabled] #actions-inner.ytd-watch-metadata {
		width: revert;
	}

	ytd-watch-flexy:not([full-bleed-player][full-bleed-no-max-width-columns]) #columns.ytd-watch-flexy {
		/* max-width: 1500px; */
        display: flex;
        justify-content: center !important;
	}

	.count-text.ytd-comments-header-renderer {
		font-weight: 400;
		font-size: 1.6rem;
	}

	#toolbar > ytd-toggle-button-renderer > yt-button-shape > button > .yt-spec-button-shape-next__icon > .ytIconWrapperHost {
		height: 20px !important;
	}

	ytd-exploratory-results-renderer.ytd-item-section-renderer, ytd-horizontal-card-list-renderer.ytd-item-section-renderer:not(:first-child), ytd-reel-shelf-renderer.ytd-item-section-renderer, grid-shelf-view-model.ytd-item-section-renderer, ytd-shelf-renderer.ytd-item-section-renderer {
		margin-bottom: 24px; /* adding a bottom margin, since the original looks weird */
	}

	ytd-playlist-panel-renderer:not([within-miniplayer]) #container.ytd-playlist-panel-renderer,
	ytd-thumbnail[size=medium] a.ytd-thumbnail, ytd-thumbnail[size=medium]::before {
		border-radius: 0px;
	}

	/* originally from .more-button.ytd-video-secondary-info-renderer, .less-button.ytd-video-secondary-info-renderer */
	.button.ytd-text-inline-expander {
		color: var(--yt-spec-text-secondary);
		display: inline-block;
		margin-top: 6px;
		text-transform: uppercase;
		font-family: "Roboto", "Arial", sans-serif;
		font-size: 1.2rem;
		line-height: 1.8rem;
		font-weight: 500;
	}

    #expand.ytd-text-inline-expander {
		position: absolute;
        left: 0 !important;
	}

	ytd-text-inline-expander[show-expand-button] {
		height: 90px;
	}

	ytd-text-inline-expander[is-expanded] {
		height: unset;
	}

	#notification-preference-button > ytd-subscription-notification-toggle-button-renderer-next > yt-button-shape > button {
		padding: 20.5px 16.5px !important;
		background: rgba(255, 255, 255, 0.1) !important;
		border-radius: 2px;
	}

	ytd-button-renderer.style-mono-filled[is-paper-button] {
		border-radius: 2px;
	}



	/* for return youtube dislike */
	.ryd-tooltip.ryd-tooltip-new-design {
		bottom: -7px;
	}

	#top-row.ytd-watch-metadata {
		display: flex !important;
		padding-bottom: 0px !important;
		border-bottom: unset !important;
		flex-direction: column-reverse !important;
	}

	#top-row.ytd-watch-metadata > #owner {
		margin-top: 20px;
	}

	#top-row.ytd-watch-metadata > #actions {
		flex-direction: row !important;
		margin-top: 8px;
		padding-bottom: 7px;
		border-bottom: 1px solid var(--yt-spec-10-percent-layer);
		justify-content: space-between;
	}

	tp-yt-paper-tooltip#ryd-dislike-tooltip.ytd-sentiment-bar-renderer > #tooltip.tp-yt-paper-tooltip {
		margin: 15px; /* RYD's tooltip height */
	}



	/*
		channel page
	*/
	/* profile picture */
	.yt-spec-avatar-shape--avatar-size-giant {
		width: 100px;
		height: 100px;
	}

	.page-header-view-model-wiz__page-header-headline-image {
		margin: unset;
	}

	.yt-spec-avatar-shape__button--button-giant {
		width: 130px;
		height: 100px;
	}

	/* channel name */
	.yt-page-header-view-model__page-header-title--page-header-title-large {
		font-weight: 500;
		font-size: 2.6rem;
		line-height: unset;
	}

	.ytImageBannerViewModelInset {
		border-radius: 0px;
	}

	.yt-page-header-view-model__page-header-flexible-actions--page-header-flexible-actions-margin-bottom {
		position: absolute;
		right: 0;
	}

	/* hide extra elements not originally seen in the 2021 layout */
	yt-description-preview-view-model,
	yt-attribution-view-model,
	yt-content-metadata-view-model > div.yt-content-metadata-view-model__metadata-row.yt-content-metadata-view-model__metadata-row--metadata-row-inline:nth-of-type(1),
	.yt-content-metadata-view-model__delimiter--standalone,
	.yt-content-metadata-view-model__metadata-row.yt-content-metadata-view-model__metadata-row--metadata-row-inline > .yt-content-metadata-view-model__metadata-text:last-of-type,
	.yt-content-metadata-view-model__metadata-row.yt-content-metadata-view-model__metadata-row--metadata-row-inline > .yt-content-metadata-view-model__delimiter {
	    display: none !important;
	}

	#tabsContainer {
		margin: 0px 110px;
	}

	#page-header-banner.ytd-tabbed-page-header {
		padding: unset !important;
	}

	#page-header.ytd-tabbed-page-header {
		padding: 24px 130px 4px !important;
	}

	.ytFlexibleActionsViewModelAction > button-view-model > button.yt-spec-button-shape-next--filled {
		background: var(--yt-spec-incorrect-indicator);
		border: 1px solid var(--yt-spec-incorrect-indicator) !important;
		color: white !important;
	}

	.ytFlexibleActionsViewModelAction > button-view-model > button.yt-spec-button-shape-next--filled:hover {
		background: var(--yt-spec-incorrect-indicator);
	}

	.ytFlexibleActionsViewModelAction > button-view-model > button {
		padding: 20px 16px !important;
	}

	ytd-thumbnail[size=large] a.ytd-thumbnail, ytd-thumbnail[size=large]::before {
		border-radius: 0px;
	}

	/* channel option buttons (if you own a channel) */
	yt-flexible-actions-view-model > div > button-view-model > a.yt-spec-button-shape-next--tonal,
	yt-flexible-actions-view-model > div > button-view-model > a.yt-spec-button-shape-next--tonal {
		background: rgba(255, 255, 255, 0.1) !important;
		border-radius: 2px !important;
		padding: 20px 16px !important;
	}

	/* channel navigation */
	.yt-tab-shape {
		margin-right: 24px !important;
		padding: 0px 20px !important;
		height: 48px !important;
	}
}
